<div id="background-image" class="background-image"/>
  <div class="container">
  <%= form_tag('/login', class: "form-signin", method: 'post') do %>

  <h1 class="form-signin-heading">Login</h1>
    <input type="text" class="form-control1" placeholder="Email address" name="user[email]">
    <input type="password" class="form-control1" placeholder="Password" name="user[password]">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit"> Sign In </button>
  <% end %>
  <% if @errors %>
    <p style="color:red;"><%= @errors %></p>
  <% end %>
  </div> 
</div>
