
  <div class = "row-1">
    <% @recipes.each do |recipe| %>
    <% if recipe.user_id == @current_user.id %>
    - <a href="/recipes/<%=recipe.id%>">
      <%= recipe.name %>
    </a> <p>
    <%end%>
    <% end %>

  </div>

  <div class = "row-2">

  </div>

  <div class = "row-3">
    HI
  </div>
