/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container{
  border-bottom: dashed 1px gray !important;
  padding: 1%;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.ingredient-form {
    display: none;
}

.add-ingredient-container {
    padding-left: 0px;
}

.ingr-active {
  display: block;
}

.navbar{
  margin: 0px !important;
}
.navbar-nav{
  /*width: 85% !important;*/
}
.navbar-brand{
  color: white !important;
  width: 15% !important;
}
.navbar-inverse .navbar-nav>li>a{
  color: white !important;
}

.search {
  width: 100%;
  position: relative;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 20px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button, html input[type=button], input[type=reset], input[type=submit]{
  border-radius: 8px !important;
}

.searchbutton{
  padding-top: 15px;
  padding-right: 1%;
  padding-left: 1%;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*home*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.owl-carousel {
  position: relative;
  height: 100%;
}
.owl-carousel div:not(.owl-controls) {
  height: 60VH;
}
.owl-carousel .owl-slide {
  background-image: url("https://static.pexels.com/photos/70497/pexels-photo-70497.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-slide2 {
  background-image: url("http://www.saladbarmn.com/assets/img/slider/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-slide3 {
  background-image: url("http://www.rickbayless.com/wp-content/uploads/2014/02/ChipsAndGuac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-slide4 {
  background-image: url("https://tacoma.eat24hours.com/files/cuisines/v4/dessert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel div.owl--text {
  position: absolute;
  bottom: 4em;
  left: 2em;
  width: 20em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
.owl-carousel .owl-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: .9em;
  border-radius: 3px;
  color: #FFF;
  background: #000;
  opacity: .6;
  text-transform: capitalize;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: 5px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: 5px;
}

footer{
  padding-top: 5%;
}

.btn-primary{
  border-radius: 8px !important;
}

/*user show*/
#show-head{
  padding-left: 5%;
  padding-bottom: 1%;
}

/*recipe index*/
.createnew{
  padding-left: 5%;
  padding-bottom: 1%;
}

/*recipe show*/
#recipeshow{
  padding-top: 1%;
  padding-bottom: 1%;
}
.showrating{
  padding-left: 3%;
  margin-top: 3%;
  border-top: solid;
}
.editbutton{
  padding-right: 10%;
  padding-top: 3%;
  float:right;
}
.deletebutton{
  padding-left: 5%;
  padding-top: 3%;
}

/*new form*/
.new-form{
  padding-left:3%;
}
